.collection .collection-item.avatar .secondary-content {
  top: 30px; /* Collection item avatar min-height 84px - icon font-size 24px > (84 - 24) / 2 */
}

.complete p {
  padding: 10px 0;
  width: 90%;
}

.complete p,
.complete i,
.secondary-content {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}
