input:not([type]), input[type=text]:not(.browser-default) {
  font-size: 2rem;
}

input:not([type]), input[type=text]:not(.browser-default)::placeholder {
  color: hsl(0, 0%, 62%);
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid hsl(340, 82%, 52%);
  box-shadow: 0 1px 0 0 hsl(340, 82%, 52%);
}

.input-field .prefix.active {
  color: hsl(340, 82%, 52%);
}

.input-field > i {
  cursor: pointer;
}
